.todo-list {
  position: relative;
  left: -0.5em;
  width: calc(100% + 1em);
  height: 100%;
  scrollbar-gutter: stable both-edges;
  &__filters {
    display: flex;
    justify-content: center;
    margin-bottom: 0.5em;
  }

  &__wrapper {
    overflow-y: auto;
    overflow-x: hidden;
  }
}

.todo-empty {
  text-align: center;
  font-size: 1em;
  font-weight: 700;
  margin: 2em 0;
  color: var(--mid-hover-color);
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  h3 {
    margin-top: 1em;
  }

  h5 {
    margin-top: 0.25em;
  }

  svg {
    width: 3em;
    height: 3em;
  }
}
