.footer {
  padding: 1em;
  font-size: 0.75em;
  line-height: 1;
  background-color: var(--solid-color-deep);
  transition: var(--transition);

  &__copyright {
    display: block;
    font-size: inherit;
    text-align: center;
    color: var(--alt-color);
  }
  a {
    color: var(--alt-color);
    &:hover {
      color: var(--alt-hover-color);
    }
  }
}
